@font-face {
  font-family: sans-condensed;
  src: url(../src/fonts/OpenSans-CondLight.ttf);
}

body {
  margin: 0;
  padding: 20px 40px;
  font-family: sans-condensed, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
}