@font-face {
  font-family: sans-condensed;
  src: url(../src/fonts/OpenSans-CondLight.ttf);
}

body {
  margin: 0;
  font-family:sans-condensed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}